*{
    box-sizing: border-box;
}
body {
 padding: 0;
 margin: 0;
}
.page-actions-cont{
    height: 3rem;
    background-color:#218c74;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;

}
.page-actions{
margin: 0.5rem;
color: #f1f2f6;
}
.cellprop-actions-cont{
    height: 3rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.cellprop-actions-cont > *{
    display: inline-block;
    margin-right: 1rem;

}
.cellprop-actions-cont > select {
    border: none;
    outline: none;
    border-radius: 2px;
}
.font-family-prop{
    padding: 0.2rem;
}
.font-size-prop{
    padding: 0.2rem;
}
.formula-actions-cont{
    height: 2rem;
    background-color: #ecf0f1;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}
.formula-actions-cont > * {
    display: inline-block;
    margin-right: 0.7rem;
}

.formula-icon {
    width: 1.2rem;
}
.address-bar {
    width: 5rem;
}
.formula-bar {
    width: calc(100vw - 5rem - 0.7rem - 0.7rem - 0.7rem);
}

.formula-actions-cont > input {
    border:  none;
    outline:  none;
    height: 70%;
}


.sheet-actions-cont {
    height: 3rem;
    background-color: #ecf0f1;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.sheet-actions-cont > * {
    display: inline-block;
}
.sheet-add-icon {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 2vw;
}
.sheets-folder-cont {
    height: 80%;
    width: 5rem;
    display: flex;
    align-items:center;
    /* background-color: yellow; */
    width: calc(100vw - 2vw);

    
}
.sheet-folder{
    text-decoration: underline;
    font-weight: bold;
    text-decoration-thickness: 3px;
    font-size: 0.9rem;


}

.grid-cont{
    height: calc( 100vh - 3rem - 3rem - 2rem - 3rem);
    position: relative;
    overflow: scroll;
    background-color: #ecf0f1;
}
.top-left-dummy-box{
    height: 2rem;
    width: 2rem;
    background-color: #747d8c;
}
.address-col-cont {
    height: 10rem;
    width: 2rem;
    
}
.address-row-cont {
   
    display: flex;
}
.cells-cont {
    position: absolute;
    top: 0;
    left: 2rem;
    
}
.address-col{
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dfe4ea;
}
.address-row {
    height: 2rem;
    width: 5rem;
    border: 1px solid #dfe4ea;
   display: flex;
   justify-content: center;
   align-items: center;
} 

